# Sistema operativo
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/
*.swp
*.swo
*~

# Archivos temporales
*.log
*.tmp
node_modules/

# Git
.git/

# Fotos del evento
fotos/
clasificadas/
usb/
imagenes/
*.jpg
*.jpeg
*.png
*.webp
*.mp4
*.mov
